[build]
  publish = "."

[[redirects]]
  from = "/institutions"
  to = "/pages/institutional.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
